<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="playbutton.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Sign up</title>
</head>

<body>
    <div class="main-cont">
        <img src="music_illustration.svg" alt="Music Illustration" class="music-illustration">
        <div class="login">
            <h1>
                Welcome to <br><span>Blues</span>
            </h1>
            <form action="/signupsuccess" method="post">
                <input type="text" name="username" placeholder="Username" id="username" required>
                <input type="text" placeholder="Name" name="name" id="name" required>

                <input type="password" name="password" placeholder="Password" id="password" required>

                <input type="text" name="email" placeholder="Email" id="email" required>

                <button type="submit">Sign up</button>
            </form>
        </div>
    </div>
</body>

</html>