body{
    font-family: 'Oxygen', sans-serif;
}

.welcome-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #5b6574;
    font-size: 30px;
    margin: auto, auto;
}

h1 span {
    color: #108094;
}

h1 span {
    color: #108094;
    font-size: 30px;
}